
.red {
  height: 14.3px;
  width: 350px;
  background-color: red;
  display: flex; /* align like columns/rows */
  
  
}

.white {
  height: 14.3px;
  width: 350px;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  
  
}

.flag img{
  
  position: absolute;
  width: 100px;
  height: 100px;
  display:flex;
  
  
  
  

}
.container{
  
  margin: auto;
  
}